body{
    background: linear-gradient(to right, #0b8cee, #d81836);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
span{
    color: black;
    font-size: 15px;
}
.container{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5%;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 30px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
input{
    outline: none;
    border: none;
    padding: 5px;
}
input[type='radio']{
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50%;
}
input[type='radio']:checked{
    border-color: black;
}
button{
    color: white;
    padding: 8px;
    border: 2px solid white;
    background: none;
    cursor: pointer;
}